* {
    margin: 0;
    padding: 0;
}

.nav_bar {
    background-color: #04AA6D;
    color: white;
    height: 64px; 
    text-align: center;


}

.li_style {
    display: inline-block;
    margin: 15px;
    font-size: 19px;
    text-align: center;


}
.background_image{
    height:648px;
    width: 100%;
}



.body_style {
    background-color: aliceblue;
}

/* .title {
    background-color: #04AA6D;
    height: 32px;
    text-align: center;
    padding-top: 14px;
    font-size: 21px;
    color: white;
} */

.anchor_style {
    color: white;
    text-decoration: none;
}

.login_form {

    text-align: center;
    padding-top: 50px;



}

.Technician_input_style {
    width: 292px;
    padding: 11px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.Customer_input_style {
    width: 294px;
    padding: 11px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;

}

.Admin_input_style {
    width: 294px;
    padding: 11px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
table {

    font-family:arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin:30px;

}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr {
    background-color: aliceblue;
}